---
layout: default
id: overview
nav: true
nav-order: 1
title: Autumn Unfiltered

banner:
  content: >
    <h1 class="banner-title">Autumn Unfiltered</h1>
    <div class="title title--sm text--bold">#theislandbreak</div>
    <div class="space--sm">
      <a href="javascript:void(0);" data-modal-item="video" class="js-open-modal btn btn--outline btn--outline-white">Watch video</a>
    </div>
  intro: >
    <p class="text--lg">Do away with the filters and discover the raw beauty of an autumnal escape in Jersey. Forage for wild foods, gaze at the stars after sunset, discover secluded beaches you’ll have all to yourself… Live life unfiltered in Jersey this autumn.</p>
    <p class="text--lg space--xxs">Discover unforgettable experiences, luxurious country bolt holes, and an unmissable competition prize. Live the island life this autumn.</p>


experiences:

  - id: love-island
    title: Love Island
    content: Join your local guides Rich & Steph for a RIB tour to the isolated shores of Les Ecrehous. Six miles off the coast of Jersey, this spellbinding rock offers true sanctuary to autumn adventurers.
    video-intro: Head out to sea and set up your barbecue on isolated shores...

  - id: shore-to-chef
    title: Shore to Chef
    content: Embark on a wild forage in Jersey’s natural larder. Discover the tastes of the coast and land with local guide Kazz, before an acclaimed dinner at award-winning The Grand Jersey.
    video-intro: St Ouen’s Bay offers a wealth of wild produce, a bounty for skilled Jersey chefs…

  - id: a-night-with-the-stars
    title: A night with the stars
    content: Wrap up warm and lie back in the shadow of the Grosnez ruins, gazing up at the heavens as the sun sets. In this wild region, the sky lights up with the twinkle of thousands of stars.
    video-intro: A twilight walk finishes with a spellbinding sight unfolding in the night sky...

  - id: feast-your-eyes
    title: Feast your eyes
    content: Discover Jersey’s enviable autumnal larder, with a visit to the famous Central Market. Local chef Rex is on-hand to guide you through Jersey’s culinary staples, before sampling the island’s famous oysters…
    video-intro: Discover Central Market and unpick the irresistible Jersey larder...

  - id: saturday-night-takeaway
    title: Saturday night takeaway
    content: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis a laborum, amet repellat, quasi exercitationem laboriosam quisquam.
    video-intro:

---


<div class="wp" id="main"></div>
{% if page.intro %}
<div class="container container--xl vpad--xxl text--center">
  {{page.intro}}
</div>
{% endif %}


<div class="bg--grey-lightest">
  <div class="container vpad--xxl">

    <div class="space--xxl"></div>

    {% for experience in page.experiences %}
    <div class="experience bob{% cycle '', ' bob--swap' %}">

      <div class="bob__img">
        <div class="bg-img bg-img--1-1" style="background-image: url('{{site.img}}/content/{{page.id}}/{{experience.id}}.jpg');"></div>
      </div>

      <div class="bob__text">
        <h2 class="title title--lg text--medium">{{experience.title}}</h2>
        <p class="text--lg">{{experience.content}}</p>
        <div class="space--md"></div>

        <div class="experience__video">
          <div class="bg-img bg-img--16-9" style="background-image: url({{site.img}}/content/{{page.id}}/{{experience.id}}-video.jpg);">
            <a href="javascript:void(0);" data-modal-item="video" class="js-open-modal bg-img__link"></a>
          </div>
          <div class="boxpad--md">
            <p class="text--italic">{{experience.video-intro}}</p>
            <div class="space--sm">
              <a href="javascript:void(0);" data-modal-item="video" class="js-open-modal btn btn--primary btn--sm">Watch video</a>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="space--xxxxl"></div>
    {% endfor %}

  </div>
</div>


{% include page/promo-competition.html %}

