---
layout: default
title: Overview
nav-order: 1
intro: Winter’s a time to recalibrate and restore, a time to cleanse the soul with astounding natural experiences.
banner-title: Come alive this winter on the UK's favourite British island
---

<section class="row row--padding section">
  <div class="line-length">
    <p class="title title--xxxsmall title--condense">{{page.intro}}</p>
    <p>Experience the elements, and feel the invigorating force of Jersey's coast – for unique and captivating experiences, your winter belongs in Jersey. Give yourself 72-hours to discover the crystal-clear clarity of our crisp sea air, soak up our panoramic winter skyscapes and nurture yourself with good food and long weekend lie-ins. Rediscover the island break.</p>
  </div>
</section>

{% include section-overview.html %}

<section class="bg--light-grey section">
  {% assign offers = site.data.offers | sort: 'order' %}
  {% include offer-content.html %}
</section>