---
layout: default
page-type: category
title: Replenish
class: replenish
nav-order: 2

banner-title: Replenish
banner-content: A taste of Jersey

intro: >
  <p class="h3">Get a taste for Jersey in autumn. As a small island famous for its food, Jersey’s bursting with flavour from abundant local produce and rich creamy milk to seafood straight from the island’s clear waters.</p>
---




{% include banner.html %}


<section class="intro">
  <div class="row row--padding align-center">
    {{page.intro}}
  </div>
</section>


<section class="section--lightgrey-bg">
  {% assign offers = site.data.offers | where: page.class, true %}
  {% include offer-content.html %}
</section>


{% include ambassador-section.html %}
{% include competition-section.html %}
