{% assign ambassadors = site.data.ambassadors %}
{% assign page-class = page.title | slugify %}
{% for ambassador in ambassadors %}{% if ambassador.category == page-class %}

<div id="ambassador" class="row row--full-width row--columns-6-6 row--columns-vertical-align">
  <div class="row__column row__column--padding align-center">
    <div class="line-length">
      <span class="title title--upper title--expanded title--bolder">Meet</span>
      <h3 class="title title--xsmall title--light title--sub-heading">{{ambassador.title}}</h3>
      <p>{{ambassador.description}}</p>
      <hr class="hr hr--small bg--cyan">
      <a class="js-open-modal title title--upper title--expanded title--bolder arrow-link" href="https://www.youtube.com/watch?v={{ambassador.video-id}}" target="_blank" data-target-modal="modal" data-video-id="{{ambassador.video-id}}">
        {{ambassador.title}}'s story
      </a>
    </div>
  </div>
  <div class="row__column">
    <a class="js-open-modal" href="https://www.youtube.com/watch?v={{ambassador.video-id}}" target="_blank" data-target-modal="modal" data-video-id="{{ambassador.video-id}}">
      <div class="bg-image-ratio bg-image-ratio--4-3" style="background-image: url({{site.baseurl}}/img/content/ambassador-{{ambassador.class}}.jpg);">
          <img class="play-button" src="{{site.baseurl}}/img/icons/play.png" alt="">
      </div>
    </a>
  </div>
</div>

<!-- Ambassador video modal -->
<div id="modal" class="js-modal modal is-closed" style="display: none;">
  <div class="js-close-modal modal__close"></div>
  <div class="modal__content modal__content--ambassador row row--full-width is-closed"></div>
</div>

{% endif %}{% endfor %}