
<div class="category__content {% if forloop.first %} category__content--active{% endif %}" data-category="{{category.class}}">

  <div class="row category__content__copy">
    <span class="h4">{{category.banner-content}}</span>
    <h2>
      <img src="{{site.baseurl}}/img/icon/category_icon-{{category.class}}.png" class="img-inline">
      {{category.banner-title}}
    </h2>
    <p>{{category.intro | strip_html }}</p>
  </div>

  <div class="category__content__links row--columns-6-6">
    <div class="row__column align-right">
      {% assign ambassadors = site.data.ambassadors %}
      {% for ambassador in ambassadors %}{% if ambassador.category == category.class %}
      <a href="{{site.baseurl}}{{category.url}}#ambassador">Meet our ambassador: <strong>{{ambassador.title}}</strong></a>
      {% endif %}{% endfor %}
    </div>
    <div class="row__column align-left category__content__links--pink">
      <a class="arrow_link arrow_link--white" href="{{site.baseurl}}{{category.url}}"><strong>FIND OUT MORE</strong></a>
    </div>
  </div>

</div>
