{% assign category-class = category.title | slugify %}
<div class="category__content {% if forloop.first %} category__content--active{% endif %}" data-category="{{category.title | slugify}}">

  <div class="row category__content__copy">
    <span class="title title--upper title--micro title--bold">{{category.banner-content}}</span>
    <h2 class="title title--medium title--light title--sub-heading">
      <img src="{{site.baseurl}}/img/logo/{{category.title | slugify}}.png" class="inline-icon">
      {{category.banner-title}}
    </h2>
    <p class="line-length">{{category.intro}}</p>
  </div>

  <div class="category__content__links row--columns-6-6">
    <div class="row__column align-right">
      {% assign ambassadors = site.data.ambassadors %}
      {% for ambassador in ambassadors %}{% if ambassador.category == category-class %}
      <a href="{{site.baseurl}}{{category.url}}#ambassador">Meet our ambassador: <span class="title title--micro title--bold">{{ambassador.title}}</span></a>
      {% endif %}{% endfor %}
    </div>
    <div class="row__column align-left category__content__links--pink">
      <a class="arrow-link arrow-link--white" href="{{site.baseurl}}{{category.url}}"><span class="title title--bold title--upper">Find Out More</span></a>
    </div>
  </div>

</div>
