<section class="competition bg--light-grey" id="win">

  <div class="row row--full-width row--columns-6-6 row--columns-vertical-align">
    <div class="row__column">
      <a href="https://www.jersey.com/come-alive-winter-competition?utm_source=Secret%20Escapes&utm_campaign=Winter&utm_medium=WIN&utm_term=Come%20Alive">
        <div class="bg-image-ratio bg-image-ratio--4-3" style="background-image: url({{site.baseurl}}/img/content/competition.jpg);"></div>
      </a>
    </div>
    <div class="row__column row__column--padding align-center">
      <div class="line-length">
        <h4 class="title title--upper title--bolder title--expanded color--blue">Come alive this winter</h4>
        <h2 class="title title--xsmall title--bolder title--condense title--tight title--spacing title--content-spacing color--blue">WIN your 2017 winter escape</h2>
        <p>Escaping to the countryside is one thing; escaping to an island gives you a whole new perspective on re-energizing. Nothing calms and relaxes more than time spent by the sea.</p>
        <a href="https://www.jersey.com/come-alive-winter-competition?utm_source=Secret%20Escapes&utm_campaign=Winter&utm_medium=WIN&utm_term=Come%20Alive" target="_blank" class="btn btn--blue btn--large">Enter competition</a>
      </div>
    </div>
  </div>

</section>