<section class="competition bg--purple invert-text" id="win">

  <div class="row row--full-width row--columns-6-6 row--columns-vertical-align">
    <div class="row__column">
      <a href="https://www.jersey.com/rediscover-competition?utm_source=Secret%20Escapes%20&utm_medium={% if page.class == 'overview' %}Microsite{% else %}{{ page.title }}{% endif %}&utm_campaign=WIN">
        <div class="bg-image-ratio bg-image-ratio--4-3" style="background-image: url({{site.baseurl}}/img/content/competition.jpg);"></div>
      </a>
    </div>
    <div class="row__column row__column--padding align-center">
      <div class="line-length">
        <h4 class="title title--upper title--bolder title--expanded">How do you want to feel?</h4>
        <h2 class="title title--small title--light title--tight title--spacing title--content-spacing">Win a dream Jersey break.</h2>
        <p>The best-loved island in the British Isles is waiting to be discovered this autumn. To be in with your chance to win a dream island break, enter our competition and tell us how you want to feel?</p>
        <a href="https://www.jersey.com/rediscover-competition?utm_source=Secret%20Escapes%20&utm_medium={% if page.class == 'overview' %}Microsite{% else %}{{ page.title }}{% endif %}&utm_campaign=WIN" target="_blank" class="btn btn--white btn--large">Enter competition</a>
      </div>
    </div>
  </div>

</section>