<section class="competition section--purple-bg section--white-text section--6-6" id="win">

  <div class="row--columns-6-6 row--columns-vertical-align">

    <a href="https://www.jersey.com/rediscover-competition?utm_source=Secret%20Escapes%20&utm_medium={% if page.class == 'overview' %}Microsite{% else %}{{ page.title }}{% endif %}&utm_campaign=WIN" target="_blank" class="row__column section--6-6__image bg-image-ratio bg-image-ratio--3-2" style="background-image: url({{site.baseurl}}/img/content/competition.jpg);">  </a>

    <div class="row__column align-center section--6-6__copy">
      <h4>How do you want to feel?</h4>
      <h2>Win a dream Jersey break.</h2>
      <p>The best-loved island in the British Isles is waiting to be discovered this autumn. To be in with your chance to win a dream island break, enter our competition and tell us how you want to feel?</p>
      <a href="https://www.jersey.com/rediscover-competition?utm_source=Secret%20Escapes%20&utm_medium={% if page.class == 'overview' %}Microsite{% else %}{{ page.title }}{% endif %}&utm_campaign=WIN" target="_blank" class="btn btn--large">Enter competition</a>
    </div>

  </div>

</section>