{% assign offer_count = 0 %}
{% assign page-class = page.title | slugify %}
{% for offer in offers %}
  {% assign offer_count = offer_count | plus: 1 %}
{% endfor %}

<div class="align-center">
  {% if page-class != "offers" %}
  <div class="row row--padding">
    <h2 class="title title--medium title--light">Offers</h2>
  </div>
  {% endif %}

  <div class="row row--padding">
    {% if page-class == "overview" %}
      {% for offer in offers limit:3 %}
        {% include offer/third-width.html %}
      {% endfor %}
    {% else %}
      {% for offer in offers %}
        {% include offer/full-width.html %}
      {% endfor %}
    {% endif %}
  </div>

  {% if page-class != "offers" %}
  <div class="row row--padding align-center">
    <a href="{{site.baseurl}}/offers" class="btn btn--large">View all offers</a>
  </div>
  {% endif %}
</div>