<div class="offer offer--small row__column">
  <a id="image-link-{{ offer.class }}" href="{{ offer.link }}"><div class="bg-image-ratio bg-image-ratio--3-2" style="background-image: url('{{ site.baseurl }}/img/offers/{{ offer.class }}.jpg')">
  </div></a>
  <div class="offer__content align-center">
    <h2 class="offer__content-title"><a id="title-link-{{ offer.class }}" href="{{ offer.link }}">{{ offer.title }}</a></h2>
    <p>{{ offer.description }}</p>
    <a id="button-link-{{ offer.class }}" href="{{ offer.link }}" class="btn btn--arrow">View Offer</a>
  </div>
</div>
