{% assign offer_count = 0 %}
{% for offer in offers %}
  {% assign offer_count = offer_count | plus: 1 %}
{% endfor %}



{% if page.class != "offers" %}
<div class="row row--padding align-center">
  <h2>Offers</h2>
</div>
{% endif %}



<div class="
  {% if offer_count < 2 %}
    row--columns-6-6-gutters row--column-center {% elsif offer_count < 3 %}
    row--columns-6-6-gutters {% else %}
    row--columns-4-4-4-gutters
  {% endif %}
  row row--padding">

  {% if page.class == "overview" %}

    {% for offer in offers limit:3 %}
      {% include offer-block.html %}
    {% endfor %}

  {% else %}

    {% for offer in offers %}
      {% include offer-block.html %}
    {% endfor %}

  {% endif %}

</div>



{% if page.class != "offers" %}
<div class="row row--padding align-center">
  <a href="{{site.baseurl}}/offers" class="btn btn--large">View all offers</a>
</div>
{% endif %}