// the title banner that appears at the top of every page. sometimes animated bgs

.banner {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  min-height: 450px;
  max-height: 700px;
  color: $white;
  background-color: $grey;
  @include bp($lg){
    height: 90%;
    min-height: 650px;
    max-height: none;
  }
  &__wrap {
    position: relative;
    z-index: $z-content-upper;
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    @include page-padding;
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content;
    background-color: $grey-dark;
    @include background-attributes;
    // &:before {
    //   // optional colour overlay on bg image
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   right: 0;
    //   bottom: 0;
    //   background-color: rgba($black,.15);
    // }
  }
  &__nav {
    // optional container for navigation include
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: $z-nav;
    &--top {
      top: 0;
      bottom: auto;
    }
  }



  &--overview {
    height: auto;
    min-height: 100%;
    max-height: none;
    padding-top: 100px;
    @include bp($lg){
      padding-top: 100px;
    }
    @include bp($xl){
      height: 100%;
      padding-top: 0;
    }
  }
  &--overview &__footer {
    z-index: $z-content;
    width: 100%;
    padding: $s4 0;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  }
  &--overview &__footer-arrow {
    @include transition;
    $icon-size: 50px;
    display: block;
    width: $icon-size;
    height: $icon-size;
    background-image: url('../img/icons/arrow-down.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    border-radius: 50%;
    border: 2px solid $white;
    margin: auto;
    &:hover { border-width: 4px; }
  }

}

