// all custom styles for the site

* {
  // stop touch highlight color on mobile
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

.bg {
  &--light-grey { background-color: $grey-lightest; }
}

.banner {
  position: relative;
  height: 100%;
  color: $white;
  background-color: $grey-darker;
  text-align: center;
  background-image: url('../img/bg/intro.jpg');
  @include background-attributes;
  background-position: center bottom;
  &__wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: $z-content;
    width: 100%;
    max-width: $xlarge;
    margin: auto;
    padding-top: 30vh;
    .csstransforms.csstransforms3d & {
      top: 50%;
      padding-top: 0;
      transform: translateY(-50%);
    }
  }
  &__nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content;
  }
}

.is-stuck {
  position: fixed;
  top: 0;
  bottom: auto;
  z-index: $z-nav-upper;
}

.section {
  position: relative;
  @include background-attributes;
  background-position: top center;
  &--full-height {
    padding-top: $site-nav-height;
    padding-bottom: 0;
    min-height: 100%;
    .flexbox & {
      display: flex;
      align-items: center;
      & > * {
        width: 100%;
      }
    }
  }
}

.topic {
  @include layout(12 1);
  &__image { width: 100%; }
  &__text,
  &__image {
    max-width: $large;
    margin-left: auto;
    margin-right: auto;
    // margin-bottom: ($margin*1.5);
  }
  &--center { text-align: center; }
  @include bp(xxlarge){
    &--center { text-align: left; }
    &__text  { @include span(7); }
    &__image { @include span(last 5); }
    .flexbox & {
      display: flex;
      align-items: center;
    }
  }
}

.image-block {
  line-height: 0;
  &__image {
    position: relative;
    display: inline-block;
    width: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // keeps a 16:9 aspect ratio
    &:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 75%;
    }
    &:first-child { width: 100%; }
  }
  &--16-9 &__image:before {
    padding-top: 75%;
  }
}

.pois {
  max-width: $xxxlarge;
  margin-top: $margin;
  margin-left: auto;
  margin-right: auto;
  padding: $margin ($margin/1.75);
  text-align: center;
  border-radius: 3px;
  background-color: rgba($black, .25);
  box-shadow: inset 0px 0px 200px 0px rgba(255, 255, 255, 0.25);
  @include bp(large){
    padding-left: $margin;
    padding-right: $margin;
  }
  &__list {
    line-height: 1;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
  }
}

.poi {
  position: relative;
  display: inline-block;
  width: 200px;
  opacity: .7;
  transition: opacity $transition-time ease;
  cursor: pointer;
  &:before{
    content: '';
    position: absolute;
    z-index: $z-content-upper;
    right: 8px;
    bottom: 8px;
    display: block;
    width: 25px;
    height: 25px;
    background-image: url('../img/icons/plus.png');
    .svg & { background-image: url('../img/icons/plus.svg'); }
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  &:hover{ opacity: 1; }
  & + & { margin-left: 10px; }
  @include bp(large){
    & + & { margin-left: 20px; }
  }
}

$cta-size: 53px;
.mobile-cta {
  position: fixed;
  right: 1em;
  bottom: 1em;
  z-index: $z-overlay;
  display: block;
  height: $cta-size;
  width: $cta-size;
  background-color: $white;
  background-image: url(../img/icons/british-airways.png);
  .svg & { background-image: url(../img/icons/british-airways.svg); }
  background-position: 45% 52%;
  background-repeat: no-repeat;
  background-size: 75% auto;
  border-radius: $cta-size;
  box-shadow: 0px 8px 44px 0px rgba(13, 13, 13, 0.15);
  opacity: 0;
  @include transition;
  &.is-active{
    opacity: 1;
  }
  @include bp(large){
    display: none;
  }
}


// ---------- button ----------

.btn {
  @include transition;
  display:inline-block;
  padding: 1.2em 3em;
  font-weight: 700;
  font-size: .694em;
  text-transform: uppercase;
  letter-spacing: .25em;
  border-radius: 3px;
  color: $white;
  &:hover {
    background-color: $se-orange;
    text-decoration: none;
  }
  @include bp(large){
    font-size: .867em;
  }
  * + & { margin-top: 1em; }
  &--small{ font-size: .762em; }
  &--outline-white  {
    border: 1px solid rgba($white,.66);
    &:hover {
      border-color: $j-orange;
      background-color: $j-orange;
    }
  }
  &--outline-j-orange  {
    border: 1px solid $j-orange;
    color: $j-orange;
    &:hover {
      color: $white;
      border-color: $j-orange;
      background-color: $j-orange;
    }
  }
  &--dark     {
    background-color: rgba(#232833,.4);
    &:hover { background-color: rgba(#232833,.85); }
  }
  &--red {
    background-color: #ce210f;
    &:hover { background-color: #b51100; }
  }
  &--orange {
    background-color: $se-orange;
    &:hover { background-color: #e67812; }
  }
  &--j-orange {
    background-color: $j-orange;
    &:hover { background-color: darken($j-orange,8); }
  }
}


.offer-promo {
  position: relative;
  background-color: rgba($grey-darker,.85);
  &__bgs {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-background;
  }
  &__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    display: none;
    width: 100%;
    @include background-attributes;
    &:nth-of-type(1) {
      left: 0;
      display: block;
    }
    @include bp(large){
      width: 33.33%;
      &:nth-of-type(2) {
        display: block;
        left: 33.33%;
      }
      &:nth-of-type(3) {
        display: block;
        left: 66.66%;
      }
    }
  }
}


.video {
  position: relative;
  height: 0;
  max-width: 100%;
  padding-bottom: 56.25%;
  background-color: #000;
  overflow: hidden;
  &__iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include background-attributes;
  }
  &__play {
    $button-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    height: $button-size;
    width: $button-size;
    margin-top: -( $button-size / 2 );
    margin-left: -( $button-size / 2 );
    background-image: url("../img/icons/play.png");
    @include background-attributes;
    background-size: contain;
    cursor: pointer;
    @include transition;
    &:hover {
      transform: scale( 1.25, 1.25);
    }
  }
}