// general typographic styles


// -------- root typography styles --------

$core-font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
$main-font-family: 'proxima-nova', 'Helvetica Neue', sans-serif;
$title-font-family: 'proxima-nova', 'Helvetica Neue', sans-serif;

html { font-size:62.5%; }
body,
input, textarea, keygen, select, button {
  font: 400 14px/1.728 $main-font-family;
  -webkit-text-size-adjust: 100%;
  @include bp(medium) { font-size: 15px; }
  color: $text-paragraph;
}


// -------- Headings --------

.title {
  font-family: $title-font-family;
  letter-spacing: .025em;
  line-height: 1.33;
  + * { margin-top: .75em; }

  &--spacing {
    * + & { margin-top: .4em; }
  }
  &--content-spacing { margin-bottom: .4em; }
  &--extra-margin { margin-top: 1.5em; }
  &--sub-heading { margin-top: 0 !important; }
  &--blue { color: $jersey-blue; }

  &--lighter   { font-weight: 200; }
  &--light     { font-weight: 300; }
  &--bold      { font-weight: 500; }
  &--bolder    { font-weight: 600; }
  &--expanded  { letter-spacing: .2em; }
  &--condense  { letter-spacing: 0; }
  &--tight     { line-height: .9; }
  &--tighter   { line-height: .8; }
  &--upper     { text-transform: uppercase; }
  &--italic    { font-style: italic; }

  &--xxlarge     { font-size: 4.3em; }
  &--xlarge      { font-size: 3.375em; }
  &--large       { font-size: 2.986em; }
  &--medium      { font-size: 2.488em; }
  &--small       { font-size: 2em; }
  &--xsmall      { font-size: 1.867em; }
  &--xxsmall     { font-size: 1.5em; }
  &--xxxsmall    { font-size: 1.44em; }
  &--xxxxsmall   { font-size: 1.2em; }
  @include bp(xxlarge){
    &--xxlarge     { font-size: 6.25em; }
    &--xlarge      { font-size: 6em; }
    &--large       { font-size: 4em; }
    &--medium      { font-size: 3.375em; }
    &--small       { font-size: 2.467em; }
    &--xsmall     { font-size: 2.25em; }
  }
}

.paragraph {
  &--lead {
    font-size: 1.25em;
    line-height: 1.25;
  }
  &--large { font-size: 1.05em; }
  @include bp(large){
    &--lead { font-size: 1.467em; }
    &--large { font-size: 1.2em; }
  }
}


// -------- general content styles --------

p             { font-size: 1.05em;}
p + *         { margin-top: 1em; }
li            { list-style-position: inside; }
ul li         { list-style-type: disc; }
ol li         { list-style-type: decimal; }
em            { font-style: italic; }
strong        { font-weight: 800; }
.align-left   { text-align: left; }
.align-right  { text-align: right; }
.align-center { text-align: center; }

.hr {
  border: 0;
  height: 1px;
  background-color: $light-grey;
  margin: $margin auto;
  &--small { width: 80px; }
}