// general styles for the project that wouldn't be a reuseable component



.js-stick {
  position: relative;
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
    .is-fixed & {
      position: fixed;
      opacity: 0.667;
    }
    .is-parked & {
      position: absolute;
      top: auto;
      bottom: 0;
    }
  }
}




.ambassador {
  &__title {
    text-align: center;
    border-right: 1px solid rgba($grey-darkest,0.2);
    padding-right: $s2;
    &-image {
      width: 70%;
      max-width: 120px;
      margin: auto;
      margin-bottom: 1rem;
    }
  }
}



.competition {
  &__box {
    background-color: rgba($white,0.9);
    color: $grey-darkest;
    border-radius: 4px;
    box-shadow: 0 2px 4px 2px rgba($black,0.2);
  }
}
