<div class="row row--columns-6-6 row--columns-vertical-align offer--style">
  <div class="row__column">
    <a id="image-link-{{ offer.title | slugify }}" href="{{ offer.link }}"><div class="bg-image-ratio bg-image-ratio--4-3" style="background-image: url('{{ site.baseurl }}/img/offers/{{ offer.title | slugify }}.jpg')"></div></a>
  </div>
  <div class="row__column offer__content align-left">
    <h2 class="offer__content-title title title--light title--xsmall"><a id="title-link-{{ offer.title | slugify }}" href="{{ offer.link }}">{{ offer.title }}</a></h2>
    <h5 class="title title--upper title--bolder">{{ offer.location | upcase }}</h5>
    <p>{{ offer.description }}</p>
    <a id="button-link-{{ offer.title | slugify }}" href="{{ offer.link }}" class="btn btn--arrow">View Offer</a>
  </div>
</div>