---
layout: default
page-type: category
title: Refresh
class: refresh
nav-order: 5

banner-title: Refresh
banner-content: Come up for air

intro: >
  <p class="h3">As the island moves into autumn with its golden light and long shadows, Jersey is ideal for a restorative retreat to revitalise and come up for air. Take advantage of the still-warm days to see every side of the island with emotive walks.</p>
---




{% include banner.html %}


<section class="intro">
  <div class="row row--padding align-center">
    {{page.intro}}
  </div>
</section>


<section class="section--lightgrey-bg">
  {% assign offers = site.data.offers | where: page.class, true %}
  {% include offer-content.html %}
</section>


{% include ambassador-section.html %}
{% include competition-section.html %}
